@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var item in Model.products)
    {
        <div class="column col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="@item.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Price kr</p>
                    <a asp-page="/ProductDetail" asp-route-id="@item.Category.Id" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            @*<p>@item.Name</p>
            <div></div>
            <a asp-page="/ProductDetail" asp-route-id="@item.Category.Id">
                <img class="IMG" src="@item.Image" />
            </a>
            <p>@item.Price kr</p>*@
        </div>
    }
</div>